.MainBody{
    margin: 0 0 0 0;
}

.main {
    width:100%;
    background-color:rgb(127,127,127);
}

.match {
    margin:auto;
    width:100%;
    height:100px;
    background-color:rgb(63,63,63);
    margin-bottom:10px;
    border:0px;
    padding:0 0 0 0;
}

.profile_button {
    margin:auto;
    height:100px;
    background-color:red;
    padding:0 0 0 0;
    border:0px;
}

.match-id {
    font-family: system-ui, sans-serif;
    font-size: 35px;
    margin-top:23.450px;
    margin-right:15px;
    color:white;
    float:right;
}

.steamid {
    font-family: system-ui, sans-serif;
    font-size: 35px;
    margin-top:23.450px;
    color:white;
    float:left;
}

.marker {
    font-family: system-ui, sans-serif;
    font-size: 35px;
    margin-top:25px;
    float:left;
    text-decoration: none;
    color:red;
}

a:visited {
    color:green;
}

.input {
    height:25px;
    float:left;
    margin-top:39px;
}

.submit {
    height:25px;
    float:left;
    margin-top:39px;
}

.hero {
    width:160px;
    height:90px;
    margin-top:2px;
    margin-right:5px;
    float:right;
}