.MainBody{
    margin: 0 0 0 0;
}

#table{
    background-color:rgb(50, 50, 50);
    width:100%;
    height:50px;
}

#lms-text {
    margin-left:15px;
    margin-top:15px;
}

.main-text {
    font-family: system-ui, sans-serif;
    font-size: 1.5vh;
}

.div-body{
    margin:15 15 15 15;
}

#programs {
    display: grid;
    grid-template-columns: 1fr;
    border-radius:10px;
    border:1px solid;
    border-color:rgb(184, 184, 184);
}

.back {
    color:black;
    background-color:white;
    margin:0 0 0 0;
    border:1px solid;
    border-radius:18px;
    border-color:rgb(184, 184, 184);
    width:8%;
    height:4%;
}

.back-text {
    text-decoration: none;
    color:black;
    margin:0 0 0 0;
    font-family: system-ui, sans-serif;
    font-size: 100%;
}

.arrow {
    width:10px;
}

#back-href{
    text-decoration: none;
}

.program {
    text-decoration: none;
    color:black;
    border-bottom: 1px solid;
    border-color:rgb(184, 184, 184);
    margin:0 0 0 0;
    padding:16 12 16 12;
}

.program:last-child{
  border-bottom: none;
}

.program:hover .program-name {
    color:rgb(100,100,100);
}

.program-name {
    color:black;
    margin:0 0 0 0;
    font-family: system-ui, sans-serif;
    font-size: 1.5vh;
    text-align:left;
}

@media (min-width: 985px) {
    .main-text {
        font-size: 1.5vw;
    }

    .program-name {
        font-size: 1.5vw;
    }
}

#loadOverlay{display: none;}