.MainBody{
    margin: 0 0 0 0;
}

#table{
    background-color:rgb(50, 50, 50);
    width:100%;
    height:2.5%;
}

#lms-text {
    margin-left:15px;
    margin-top:15px;
}

.main-text {
    font-family: system-ui, sans-serif;
    font-size: 1.5vh;
}

.div-body{
    margin:15 15 15 15;
}

#back-href {
    text-decoration: none;
}

.back {
    color:black;
    background-color:white;
    margin:0 0 0 0;
    text-align:center;
    border:1px solid;
    border-radius:18px;
    border-color:rgb(184, 184, 184);
    width:8%;
    height:2%;
}

.back-text {
    color:black;
    margin:0 0 0 0;
    font-family: system-ui, sans-serif;
    font-size: 100%;
    text-decoration: none;
}

.arrow {
    width:10px;
}

.program {
    text-decoration: none;
    color:black;
    border-bottom: 1px solid;
    border-color:rgb(184, 184, 184);
    margin:0 0 0 0;
    padding:16 12 16 12;
}

#program-div {
    display: grid;
    grid-template-columns: 0.05fr 1fr;

    border:1px solid;
    border-color:rgb(184, 184, 184);
    border-radius:0 0 10px 10px;
    background-color:rgb(244, 242, 240);
    min-height:75%;
}

.funct-program-div {
    border:1px solid;
    border-color:rgb(184, 184, 184);
    border-radius:10px 10px 0 0;
    background-color:rgb(244, 242, 240);
    height:2%;
}

.cube {
    color:black;
    background-color:rgb(244, 242, 240);
    margin:0 0 0 0;
    padding:0 0 0 0;
    float:right;
    border:1px solid;
    border-radius:0 10px 0 0;
    border-color:rgb(184, 184, 184);
    width:4%;
    height:100%;
}

.copy {
    width:100%;
    height:auto;
}

#for-num {
    min-height:75%;
    float:left;
    border-right:1px solid;
    border-color:rgb(184, 184, 184);
}

#for-code {
    min-height:75%;
    margin-left:5px;
}

.num {
    margin:0 0 0 0;
    color:rgb(184, 184, 184);
    font-size: 2vw;
    text-align:center;
    font-family: system-ui, sans-serif;
}

.code {
    font-weight:500;
    word-spacing:1vh;
    margin:0 0 0 0;
    color:black;
    font-size: 2vw;
    font-family: system-ui, sans-serif;
}

@media (min-width: 985px) {
    .main-text {
        font-size: 1.5vw;
    }

    .num {
        font-size: 2vh;
    }

    .code {
        font-size: 2vh;
    }

    .funct-program-div {
        height:4%;
    }

    .copy {
        width:auto;
        height:100%;
    }

    #table{
        height:5%;
    }

    .back {
        width:5%;
        height:4%;
    }
}

#loadOverlay{display: none;}